* {
  box-sizing: border-box;
}

/* 导航栏 */
.header {
  display: flex; 
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
  padding: 16px;
}

a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s;
}

a:hover {
  color: #12D7F2;
}

.header .nav {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.header .nav a {
  margin-right: 32px;
}

.header .nav img {
  width: 32px;
}

.header .social {
  display: flex;
  align-items: center;
}

.header .social a {
  margin-right: 12px;
}

.header .social a:last-child {
  margin-right: 0;
}

/* 文字简介 */
.introduction {
  max-width: 980px;
  margin: 64px auto;
  padding: 16px;
}

.introduction h3 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 28px;
  line-height: 42px;
}

.introduction p {
  max-width: 484px;
  margin: 0;
  line-height: 24px;
}

/* 作品卡片 */
.work {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
}

.work >li{
  flex: 1 0 33.333%;
  margin-bottom: 64px;
  padding: 0 16px;
}

.work>li >img{
  width: 100%;
}

.work >li >p{
  font-size: 18px;
}

@media (max-width: 540px) {
  .work >li{
    flex: 1 0 100%;
  }
}

@media (min-width: 541px) and (max-width: 980px) {
  .work >li{
    flex: 1 0 50%;
  }
}
